@import '../../styles/variables';
@import '../../styles/mixins';


.operation {
    .operation-box {
        // margin: 20px 0 0 0;
        padding: 10px;
        display: flex;
        align-items: flex-start;
        background: #000;
        justify-content: space-between;
        .show-balance {
            text-align: right;
            width: 50%;
            padding: 0 30px 0 0;
            h2 {
                margin: 0;
            }
            p {
                margin: 0;
            }
        }
        .operation-type {
            text-align: left;
            width: 50%;
            padding: 0 0 0 30px;
            h2 {
                margin: 0;
            }
        }
      
        .back-to-menu {
            margin: 0;
            padding: 20px;
            background: rgb(187, 15, 15);
            border: none;
            outline: none;
            h2 {
                margin: 0;
            }
        }
    }
    .screen-box {
        display:flex;
        justify-content: space-between;
        background-color: rgb(10, 71, 13);
        width: 100%;
        align-items: center;
        .funds-text {
            padding: 0 0 0 30px;
            p {
                margin: 10px 0;
            }
        }
        .balance {
            text-align: right;
            padding: 0 30px 0 0;
            p {
                margin: 10px 0;
            }
        }
    }
    .amount-select {
        
        .amount-row {
            display:flex;
            flex-direction: column;
            flex-flow: row wrap;
            justify-content: space-between;
            .amount {
                flex: 1 0 calc(32.6666666666666%);
                margin: 1% 1% 0 0;
                padding: 30px 0;
                cursor: pointer;
                @include button-background;
                border: none;
                outline: none;
                font-size: 2rem;
                &:nth-child(3) {
                    margin: 1% 0 0 0;
                }
                &:hover {
                    @include hover-button-background;
                }
            }
        }
    }
    button {
        width: 100%;
        margin: 1% 0 0 0;
        padding: 30px;
        font-size: 2rem;
        cursor: pointer;
        border: none;
        outline: none;
        @include button-background;
        &:hover {
            @include hover-button-background;
        }
    }
}