.screen {
    background-color: rgb(55, 189, 230);
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    font-size: 2rem;
}
.buttons {
    width: 560px;
    margin: 0 auto;
    .buttons-row {
        display:flex;
        justify-content: flex-start;
        button {
            width: 180px;
            padding: 15px 0;
            font-size: 2.5rem;
            color: rgb(0, 3, 41);
            cursor: pointer;
            margin: 10px 10px 0 0;
            // background-color: rgb(199, 199, 199);
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
            background: rgb(226,226,226); /* Old browsers */
            background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

            border: none;
            outline: none;
            &:last-child {
                margin: 10px 0 0 0;
            }
            &:hover {
                background: rgba(255, 255, 255, 0.685);
                    background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom,  rgba(226,226,226,0.685) 0%,rgba(219,219,219,0.685) 50%,rgba(209,209,209,0.685) 51%,rgba(254,254,254,0.685) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
            }
        }
        .back-button {
            background: rgb(255, 230, 0);
            &:hover{ 
                background: rgba(255, 230, 0, 0.685);
            }
        }
        .delete-button {
            background: rgb(255, 29, 29);
            &:hover{ 
                background: rgba(255, 29, 29, 0.685);
            }
        }
        .accept-button {
            width: 560px;
            background: rgb(49, 250, 42);
            &:hover{ 
                background: rgba(49, 250, 42, 0.685);
            }
        }
    }
}