@import '../../styles/variables';
@import '../../styles/mixins';

.screen {
    background-color: #4FB0C6;
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    h2 {
        margin: 0;
        font-size: 2.5rem;
    }
}
.buttons {
    width: 560px;
    margin: 0 auto;
    .buttons-row {
        display:flex;
        justify-content: flex-start;
        button {
            width: 180px;
            padding: 15px 0;
            font-size: 2.5rem;
            color: rgb(0, 3, 41);
            cursor: pointer;
            margin: 10px 10px 0 0;
            @include button-background;
            border: none;
            outline: none;
            &:last-child {
                margin: 10px 0 0 0;
            }
            &:hover {
                @include hover-button-background;
            }
        }
        .back-button {
            background: linear-gradient(to bottom,  rgba(255,230,29,1) 0%,rgba(255,230,29,1) 50%,rgba(245,220,19,1) 51%,rgba(245,220,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            &:hover{ 
                background: linear-gradient(to bottom,  rgba(255,230,29,0.7) 0%,rgba(255,230,29,0.7) 50%,rgba(245,220,19,0.7) 51%,rgba(245,220,19,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            }
        }
        .delete-button {
            background: linear-gradient(to bottom,  rgba(255,29,29,1) 0%,rgba(255,29,29,1) 50%,rgba(245,19,19,1) 51%,rgba(245,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            &:hover{ 
                background: linear-gradient(to bottom,  rgba(255,29,29,0.7) 0%,rgba(255,29,29,0.7) 50%,rgba(245,19,19,0.7) 51%,rgba(245,19,19,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            }
        }
        .accept-button {
            width: 560px;
            background: linear-gradient(to bottom,  rgba(49, 250, 42, 1) 0%,rgba(49, 250, 42, 1) 50%,rgba(49, 240, 32, 1) 51%,rgba(49, 240, 32, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            &:hover{ 
                background: linear-gradient(to bottom,  rgba(49, 250, 42, 0.7) 0%,rgba(49, 250, 42, 0.7) 50%,rgba(49, 240, 32, 0.7) 51%,rgba(49, 240, 32, 0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            }
        }
    }
}